@font-face {
  font-family: "Din Condensed Web";
  src: url('https://fontlibrary.org/assets/fonts/d-din/04e53ae1158e3d7d61a4cb843c18b0e4/b9f08331b2af58461f6b30f8de66d9e3/DDINCondensedBold.ttf');
}

@keyframes powered {
  0% {
    filter: drop-shadow(0px 0px 0 #fc00) drop-shadow(0px 0px 0 #fc00) brightness(1);
    transform: scale(1);
  }

  95% {
    filter: drop-shadow(0px 0px 3em #fc0) drop-shadow(0px 0px 3em #fc0) brightness(4);
    transform: scale(1.2);
  }

  100% {
    filter: drop-shadow(0px 0px 2em #fc0) drop-shadow(0px 0px 2em #fc0) brightness(2.5);
    transform: scale(1);
  }
}

body {
  html.dark & {
    background: #335;
  }
}

#game {
  font-family: 'Din Condensed Web';
  font-size: 8%;
  overflow: hidden;
}

#setup {
  font-size: 1rem;
  background: none;
}

#play-area {
  background: #ccf;

  #step-phase {
    font-size: .35em;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 0.2em 0.5em;
    background: #fff8;
    border-radius: 0 0.5em 0 0;
    border: 0.1em solid black;
    border-width: 0.1em 0.1em 0 0;
    img {
      width: 2.5em;
    }
  }

  #cover {
    background: #fff6;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .selectable {
    transition: transform .2s;
    &:hover {
      transform: scale(1.1);
    }
  }

  #germany {
    img#germany {
      width: 222.2222%;
      height: 100%;
      position: absolute;
      left: -5%;
      html.dark & {
        filter: brightness(.7);
      }
    }
    circle {
      html.dark & {
        fill: #aaf;
      }
    }
    line.inner {
      html.dark & {
        stroke: #ccf;
      }
    }
    .out-of-zone {
      filter: contrast(0.2) brightness(1.5);
      #game.selectZone & {
        filter: none;
      }
    }
  }

  #deck, #powerplants, #resources, .PlayerMat {
    z-index: 2;
  }

  #powerplants {
    .bid {
      position: absolute;
      left: 1.9%;
      top: 6%;
      font-size: 1.25em;
      padding: 0.2em 1em 0.2em 0.4em;
      text-align: right;
      color: white;
      clip-path: polygon(100% 0%, 90% 100%, 0% 100%, 0 0);
      border-radius: 0.3em 0 0 0.3em;
    }
  }

  .City {
    &.selectable svg {
      filter: drop-shadow(0em 0em 1.5em #003)
    }
    .name {
      color: black;
      background: black;
      padding: 5%;
      position: absolute;
      bottom: -20%;
      font-size: 1.2em;
      width: 100%;
      text-align: center;
      > div {
        background: white
      }
    }
    &[data-zone="green"] {
      color: green;
    }
    &[data-zone="red"] {
      color: red;
    }
    &[data-zone="brown"] {
      color: brown;
    }
    &[data-zone="yellow"] {
      color: #550;
    }
    &[data-zone="blue"] {
      color: blue;
    }
    &[data-zone="purple"] {
      color: purple;
    }
    .Building svg {
      filter: drop-shadow(1em 1em 1em black);
    }
    .Building.newly-powered {
      animation: powered .5s forwards;
    }
    .Building[data-powered="true"] {
      filter: drop-shadow(0px 0px 2em #fc0) drop-shadow(0px 0px 2em #fc0) brightness(2.5);
    }
  }

  .ResourceSpace .cost {
    position: absolute;
    left: 0;
    top: 12%;
    width: 100%;
    height: 100%;
    z-index: 10;
    color: white;
    font-size: 7.5em;
    text-align: center;
    font-weight: bold;
    &.empty {
      color: black;
    }
    html.dark & {
      color: black;
    }
  }

  .Resource {
    background: none;
    html.dark & {
      filter: invert(.6);
    }
  }

  .Building {
    background: none;
  }

  #deck div.count {
    text-align: right;
    position: absolute;
    z-index: 5;
    color: #fff5;
    top: 11%;
    right: 10%;
    font-size: 2em;
    margin-right: 18%;
  }

  .Card {
    background: none;
    &.selectable {
      > div.outer {
        box-shadow: 0em 0em 3em #ff08;
        background: #cc0;
      }
    }
    &[data-auction=true] {
      transform: scale(1.25);
      z-index: 10;
    }
    > div.outer {
      border-radius: 7%;
      border: .1em solid black;
      width: 100%;
      height: 100%;
      box-shadow: .2em .2em .2em #0006;
      background: #999;
      &.powerable {
        box-shadow: 0em 0em 3em #ff08;
        background: #cc0;
      }
      img.background {
        left: 7%;
        top: 7%;
        width: 86%;
        height: 70%;
        position: absolute;
      }
      > div.inner {
        border-radius: 4%;
        border: 0.1em solid black;
        position: absolute;
        left: 7%;
        top: 7%;
        width: 86%;
        height: 86%;
        .cost {
          font-weight: bold;
          color: white;
          text-shadow:
            0.1em 0 0 #000,
            -0.05em 0 0 #000,
            0 -0.05em 0 #000,
            0 0.1em 0 #000,
            0.1em -0.05em 0 #000,
            -0.05em -0.05em 0 #000,
            0.1em 0.1em 0 #000,
            -0.05em 0.1em 0 #000;
          font-size: 2.8em;
          position: absolute;
          left: -3%;
          top: -5%;
          .old-cost {
            text-decoration: line-through;
            vertical-align: text-top;
          }
          .new-cost {
            font-size: 1.4em;
            color: yellow;
            vertical-align: text-top;
          }
        }
        .production {
          position: absolute;
          width: 100%;
          height: 20%;
          left: 0%;
          bottom: 0%;
          &.oil {
            background: #555;
          }
          &.coal, &.hybrid {
            background: #a17c45;
          }
          &.garbage {
            background: #fc6;
          }
          &.uranium {
            background: #d44;
          }
          &.clean {
            background: #35f;
          }
          text-align: center;
          > img {
            width: 15%;
            height: 70%;
            top: -10%;
            position: relative;
            margin: 1%;
          }
          > svg {
            top: 0%;
            position: relative;
            width: 22%;
            height: 100%;
          }
        }
        .hybrid2 {
          background: #555;
          position: absolute;
          top: 50%;
          height: 50%;
          width: 100%;
        }
      }
      .step-3 {
        position: absolute;
        font-size: 2.6em;
        text-align: center;
        width: 100%;
        background: #aaa;
        bottom: 0;
        border-top: 0.1em solid black;
      }
    }
    .Resource {
      &.selectable {
        filter: drop-shadow(1em 1em 1em yellow);
      }
      &.selected {
        filter: drop-shadow(1em 1em 1em red);
      }
      img {
        filter: drop-shadow(1em 1em .5em #222);
      }
    }
  }

  .PlayerMat {
    .elektro {
      height: 40%;
      width: 16%;
      top: 50%;
      position: absolute;
      left: 2%;
      html.dark & {
        filter: invert(1);
      }
    }
    .lightning {
      top: 5%;
      position: absolute;
      left: 0%;
      width: 20%;
      height: 40%;
    }

    .name {
      color: white;
      font-size: 1.5em;
      text-align: center;
      width: 22%;
      height: 20%;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0.1em 0.4em;
      border-radius: 0.2em 0 0 0.2em;
      overflow: hidden;
      white-space: nowrap;
    }

    .avatar {
      width: 20%;
      height: auto;
      position: absolute;
      right: 1%;
      top: 2%;
      border-radius: 50%;
      border: .5em solid;
    }

    .divider {
      width: 82%;
      position: absolute;
      bottom: 0;
      height: 3%;
    }
  }
}

.player-controls {
  box-shadow: .2em .2em .4em #000c;
  background: linear-gradient(to bottom, #99cc, #aafc 85%, #99cc);
  &.step-purchaseResources {
    font-size: .5rem;
    button, input {
      padding: .1rem .2rem;
    }
  }
  &.step-auction, &.step-bid, &.step-purchaseResources {
    text-align: right;
  }
  button, label {
    padding: .1rem .2rem;
    border-width: 0;
    border-radius: .2em;
    text-shadow: .1em .1em 0 #fff5;
    box-shadow: .1em .1em .2em #0008, inset .1em .1em 0 #fff9;
    background: linear-gradient(to bottom, #dcd,  #aab 85%, #cce);
  }
}

#game.vertical {
  .PlayerMat {
    background: white;
    .name {
      font-size: .75em;
    }
  }

  .ResourceSpace .cost {
    font-size: 4.5em;
  }

  #player-controls {
    font-size: .3rem;
    padding: .1rem;
    &.auction, &.bid, &.purchaseResources {
      text-align: right;
    }
  }

  #play-area {
    #step-phase {
      font-size: .15em;
      bottom: 22%;
    }
  }
}
